.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100dvh - 22.676px);
}

.number {
  font-size: 80px;
  line-height: 1.2;
}

.text {
  font-size: var(--text-xl);
}