.horizontal-scroller {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.horizontal-scroller__title {
  font-size: var(--fs-400);
}

.horizontal-scroller__content {
  display: grid;
  gap: 23px;
  grid-auto-flow: column;
  grid-auto-columns: 16%;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-padding-inline: 1rem;
}

.horizontal-scroller__content::-webkit-scrollbar {
  display: none;
}

@media(max-width: 1024px) {
  .horizontal-scroller__content {
    grid-auto-columns: 26%;
  }
}

@media(max-width: 767px) {
  .horizontal-scroller__title {
    text-align: center;
  }

  .horizontal-scroller__content {
    grid-auto-columns: 32.5%;
  }
}