.form {
  text-align: center;
  padding: 0 1.5rem;
}

.notification {
  font-size: var(--text-base);
}

.input {
  width: 100%;
}

.button {
  margin-top: 1.2rem;
}

@media (max-width: 767px) {
  .form {
    padding: 0;
  }
}