.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.social-links--small {
  flex-wrap: wrap;
}

.social-links--small img {
  width: 50px;
  height: 50px;
}