.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  font-weight: var(--font-weight-bold);
  line-height: var(--leading-tight);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition:
    background-color .2s ease,
    color .2s ease,
    border .2s ease,
    transform .3s ease;
  text-align: center;
  text-decoration: none;
  border: 2px solid transparent;
  appearance: none;
  user-select: none;
}

a.button {
  text-decoration: none;
}

/* variants */
.primary {
  background-color: transparent;
  color: var(--color-text-primary);
  border: 2px solid #ffffff;
}

.primary:hover {
  background-color: var(--color-bg-tertiary);
  color: var(--color-bg-primary);
}

.primary:active {
  background-color: #f3f3f3;
  transform: scale(0.98);
}

.secondary {
  background-color: var(--color-accent);
  color: var(--color-text-primary);
  border: 2px solid var(--color-accent);
}

.secondary:hover {
  background-color: transparent;
}

.secondary:active {
  background-color: transparent;
  transform: scale(0.98);
}

.error {
  background-color: var(--color-text-error);
  color: var(--color-text-primary);
  border: 2px solid var(--color-text-error);
}

.error:hover {
  background-color: var(--color-bg-secondary);
}

.error:active {
  background-color: var(--color-bg-secondary);
  transform: scale(0.98);
}

/* disabled state - works for both elements */
.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

/* sizes */
.small {
  font-size: var(--text-base);
  padding: 1.4em 1.2em;
  min-width: min-content;
}

.medium {
  font-size: var(--text-base);
  padding: 0.6em 3em;
}

.large {
  font-size: var(--text-lg);
  padding: 0.6em 3em;
}