.bonusList {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 3rem 0;
}

.socialWrapper {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

.socialWrapper h2 {
  text-align: center;
}

.bannerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  margin: 3rem 0;
}

.banner {
  max-width: 660px;
}

@media(max-width: 767px) {
  .bannerWrapper {
    flex-direction: column;
  }
}