.hero img {
  height: clamp(85px, 30.62vw, 468px);
}

.bonusList {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
  margin: 3rem 0;
}

.socialWrapper {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

.socialWrapper h2 {
  text-align: center;
}

.bannerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  margin: 3rem 0;
}

.banner {
  max-width: 660px;
}

@media (max-width: 1091px) {
  .bonusList {
    justify-content: space-around;
  }
}

@media(max-width: 767px) {
  .bannerWrapper {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .bonusList {
    gap: 1.5rem;
  }
}