.navbar__links li,
.dropdown-menu li,
.navbar__resources li {
  list-style: none;
}

.navbar li a,
.navbar__resources a,
.dropdown-menu li a {
  text-decoration: none;
  color: var(--text-clr);
  font-weight: var(--fw-bolds);
  transition: all 0.3s ease 0s
}

.navbar li a:hover,
.navbar__resources a:hover,
.dropdown-menu li a:hover {
  color: var(--accent-clr);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 40px;
}

.navbar__logo {
  max-width: 151px;
}

.navbar__logo img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.navbar__links {
  display: flex;
  gap: 16px;
  font-size: var(--fs-500);
}

.navbar__right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 33.19px;
  font-size: var(--fs-300);
}

.navbar__resources,
.dropdown-menu_resources {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12.4px;
}

.navbar__resources li a,
.dropdown-menu_resources a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.48px;
}

.navbar__toggle-btn {
  display: none;
  color: var(--text-clr);
  font-size: 1.5rem;
  cursor: pointer;
}

.dropdown-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 3.3rem;
  width: 300px;
  height: 0;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  font-size: var(--fs-200);
  border-radius: 5px;
  overflow: hidden;
  z-index: 10;
  transition: height .2s ease
}

.dropdown-menu.open {
  height: 260px;
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.dropdown-menu li {
  padding: 0.7rem;
  text-align: center;
}

.dropdown-menu li a {
  font-weight: var(--fw-regular);
}

.divider {
  border: none;
  width: 80%;
  height: 2px;
  background-color: gray;
  border-radius: 5px;
  margin: 0.5rem auto;
}

.dropdown-menu_resources {
  font-size: var(--fs-100);
  margin-top: 0.4rem;
}

@media(max-width: 1067px) {

  .navbar__links,
  .navbar__resources {
    display: none;
  }

  .navbar__right-side {
    gap: 16px;
  }

  .navbar__toggle-btn {
    display: block;
  }

  .navbar__logo {
    max-width: 100px;
  }
}

@media(max-width: 576px) {
  .dropdown-menu {
    width: unset;
    left: 0;
  }

  .divider {
    width: 60%;
  }
}