.drop-card {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.drop-card__title {
  font-size: var(--fs-400);
  color: var(--text-clr);
}

@media(max-width: 767px) {
  .drop-card__title {
    text-align: center;
  }
}