.modal {
  position: relative;
  padding-bottom: calc(2rem + 25px);
  overflow: hidden;
}

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.giveawayItem {
  max-width: 350px;
  aspect-ratio: 2 / 1;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.itemContent {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
}

.rarityIndicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  background-color: currentColor;
  box-shadow: 0 0 18px 30px currentColor;
}

.itemBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 100%;
  font-size: var(--text-base);
  color: var(--color-text-primary);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.itemBody::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('@/assets/itemBg.png');
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
  z-index: -1;
}

.itemHeader {
  text-align: left;
  padding: 0.3rem 0.7rem;
}

.floatText {
  opacity: 0.8;
}

.image {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 60%;
  width: 100%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.itemFooter {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 0.7rem;
  opacity: 0.8;
}

.priceSymbol {
  font-size: var(--text-xs);
}

.arrowIcon {
  transition: transform 0.3s ease;
}

.arrowButton:hover .arrowIcon {
  transform: translateX(3px);
}

.joinControls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.button {
  padding-inline: 4.5rem;
}

.input {
  border: none;
  max-width: 85px;
  padding: 0;
  text-align: center;
  color: var(--color-text-primary);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.formControls {
  display: flex;
  align-items: center;
  width: fit-content;
  background-color: #000000;
  border-radius: var(--border-radius);
  border: 3px solid #000000;
}

.formControls div {
  display: unset;
  width: unset;
}

.formText {
  font-size: var(--text-sm);
  color: var(--color-text-secondary);
}

.buttonInput {
  font-size: var(--text-sm);
  padding: 0.5rem 1rem;
}

.placedTickets {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: absolute;
  bottom: 0;
  width: 130%;
  padding: 0.5rem 0;
  background-color: #000000;
  color: var(--color-text-primary);
}

.ticketIcon {
  width: 22px;
}