/* Common card styles */
.card {
  display: grid;
  align-items: center;
  gap: 1.5rem;
}

.imageWrapper {
  justify-self: stretch;
  width: 100%;
}

.image {
  margin: 0 auto;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.main {
  margin: 0 auto;
}

.title {
  font-size: var(--text-xl);
  font-weight: var(--font-weight-bold);
}

.body {
  font-size: var(--text-base);
  color: var(--color-text-secondary);
  white-space: pre-line
}

.footer {
  width: 100%;
  max-width: 400px;
}

/* There are primary and secondary variants. */
/* The primary variant is horizontal, and its content has one column. */
/* The secondary variant is vertical, and its content has two columns. */

/* Primary variant */
.card.primary {
  grid-template-columns: repeat(auto-fit, minmax(min(229px, 100%), 1fr));
  max-width: 640px;
}

/* Secondary variant */
.card.secondary {
  max-width: 430px;
}

.card.secondary .image {
  max-width: 430px;
}

@media (min-width: 767px) {

  .card.secondary {
    grid-template-columns: 1fr;
  }

  .card.secondary .imageWrapper,
  .card.secondary .content {
    width: 100%;
  }

  .card.secondary .content {
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    padding-inline: 0.6rem;
  }

  .card.secondary .main {
    flex: 2;
  }

  .card.secondary .footer {
    flex: 1;
    max-width: fit-content;
  }
}

@media (max-width: 767px) {
  .title {
    font-size: var(--text-lg);
  }

  .body {
    font-size: var(--text-sm);
  }
}