:root {
  --ff-sans: "Goldman", sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;
  --fs-100: 0.75rem;
  --fs-200: 0.875rem;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.25rem;

  --text-clr: #FFFFFF;
  --background-clr: #010101;
  --accent-clr: #ff4106;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--ff-sans);
  font-weight: var(--fw-bold);
  font-size: var(--fs-300);
  color: var(--text-clr);
}

body {
  background-color: var(--background-clr);
  width: min(1404px, 100% - clamp(10px, 4vw, 258px) * 2);
  margin: 0 auto;
  margin-top: clamp(10px, 1.66vw, 32px);
}

h1,
h2,
h3 {
  color: var(--heading-clr);
  line-height: 24px;
}

a {
  text-decoration: none;
}

button {
  font-family: var(--ff-sans);
}